<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@Page.Title - OIJ音乐</title>

    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/sha3.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/oij-music-account.js"></script>

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("Scripts", false)
</head>
<body>
    <div id="top-box">
        @RenderPage("~/Unit/Logo/_Logo.cshtml")
        @RenderPage("~/Unit/Search/_Search.cshtml")
        @RenderPage("~/Unit/User/_User.cshtml")
    </div>
    <div id="content-box">
        @RenderBody()
    </div>
    <div id="bottom-box">
        @RenderPage("~/Unit/Player/_Player.cshtml")
    </div>
</body>
</html>
