@using System.Text;
@using Id3;

@try
{
    if (IsPost && Request.Form["upload-button"] != null)
    {
        if (Request.Files.Count == 0)
        {
            <p style="color: red">请选择上传文件!</p>
            return;
        }
        for (int i = 0; i < Request.Files.Count; i++)
        {
            if (Request.Files[i].ContentType != "audio/mp3")
            {
                <p style="color: red">上传文件必须是音频mp3文件<span style="color: blue">(audio/mp3)</span>! 文件长度: @Request.Files[i].ContentLength 文件类型: @Request.Files[i].ContentType</p>
            }
            else if (Request.Files[i].ContentLength < 1024000)
            {
                <p style="color: red">文件长度不能低于 1MB! 文件长度: @Request.Files[i].ContentLength 文件类型: @Request.Files[i].ContentType</p>
            }
            else
            {
                string path = Server.MapPath("~/App_Data/UploadedFiles/" + Guid.NewGuid() + ".mp3");
                Request.Files[i].SaveAs(path);
                <p>文件长度: @Request.Files[i].ContentLength 文件类型: @Request.Files[i].ContentType</p>
                using (var mp3File = new Mp3File(path))
                {
                    List<string> imagePaths = new List<string>();
                    Id3Tag tag = mp3File.GetTag(Id3TagFamily.Version2x);
                    if (tag.Title.Value != null && tag.Title.EncodingType == Id3TextEncoding.Iso8859_1)
                    {
                        tag.Title.Value = Encoding.Default.GetString(Encoding.GetEncoding(28591).GetBytes(tag.Title.Value));   
                    }
                    if (tag.Artists.Value != null && tag.Artists.EncodingType == Id3TextEncoding.Iso8859_1)
                    {
                        for (int j = 0; j < tag.Artists.Value.Count; j++)
                        {
                            tag.Artists.Value[j] = Encoding.Default.GetString(Encoding.GetEncoding(28591).GetBytes(tag.Artists.Value[j]));
                        }
                    }
                    if (tag.Album.Value != null && tag.Album.EncodingType == Id3TextEncoding.Iso8859_1)
                    {
                        tag.Album.Value = Encoding.Default.GetString(Encoding.GetEncoding(28591).GetBytes(tag.Album.Value));
                    }
                    if (tag.Pictures.Count != 0)
                    {
                        for (int j = 0; j < tag.Pictures.Count; j++)
                        {
                            var imagePath = "/Images/Temporary Internet Files/" + Guid.NewGuid() + ".bmp";
                            imagePaths.Add(imagePath);
                            tag.Pictures[j].SaveImage(Server.MapPath("~" + imagePath));
                        }
                    }
                    else
                    {
                        imagePaths.Add("/Images/default_album.png");
                    }
                    <table>
                        <tr>
                            <th>Tag Encoder</th>
                            <td>@tag.Encoder.EncodingType</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>@tag.Title.ToString()</td>
                        </tr>
                        <tr>
                            <th>Artists</th>
                            <td>
                                @foreach (var item in tag.Artists.Value)
                                {
                                    @(item + ";")
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Album</th>
                            <td>@tag.Album.ToString()</td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td>@tag.Year.ToString()</td>
                        </tr>
                        <tr>
                            <th>Pictures</th>
                            @foreach (var item in imagePaths)
                            {
                                <td>
                                    <img src="@item" style="height: 100px; width: 100px; border: 2px dashed #808080;" />
                                </td>
                            }
                        </tr>
                    </table>
                }
            }
        }
    }
    else
    {
        <p>请求失败!</p>   
    }
}
catch (HttpException e)
{
    <p>@e</p>
}