@using Id3Lib;
@using Mp3Lib;
@using System.Text;

@try
{
    if (IsPost && Request.Form["upload-button"] != null)
    {
        if (Request.Files.Count == 0)
        {
    <p style="color: red">请选择上传文件!</p>
            return;
        }
        for (int i = 0; i < Request.Files.Count; i++)
        {
            if (Request.Files[i].ContentType != "audio/mp3")
            {
    <p style="color: red">上传文件必须是音频mp3文件<span style="color: blue">(audio/mp3)</span>! 文件长度: @Request.Files[i].ContentLength 文件类型: @Request.Files[i].ContentType</p>
            }
            else if (Request.Files[i].ContentLength < 1024000)
            {
    <p style="color: red">文件长度不能低于 1MB! 文件长度: @Request.Files[i].ContentLength 文件类型: @Request.Files[i].ContentType</p>
            }
            else
            {
                string path = Server.MapPath("~/App_Data/UploadedFiles/" + Guid.NewGuid() + ".mp3");
                Request.Files[i].SaveAs(path);
    <p>文件长度: @Request.Files[i].ContentLength 文件类型: @Request.Files[i].ContentType</p>
                Mp3File mp3File = new Mp3File(path);
                TagHandler tagHandler = new TagHandler(mp3File.TagModel);
                string imagePath = "/Images/bg.png";
                if (tagHandler.Picture != null)
                {
                    imagePath = "/Images/Temporary Internet Files/" + Guid.NewGuid() + ".bmp";
                    tagHandler.Picture.Save(Server.MapPath(imagePath));
                }
    <table>
        <tr>
            <th>Album</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Album))</td>
        </tr>
        <tr>
            <th>Artist</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Artist))</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Comment))</td>
        </tr>
        <tr>
            <th>Composer</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Composer))</td>
        </tr>
        <tr>
            <th>Disc</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Disc))</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Genre))</td>
        </tr>
        <tr>
            <th>Length</th>
            <td>@tagHandler.Length.ToString()</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Title))</td>
        </tr>
        <tr>
            <th>Track</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Track))</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Year))</td>
        </tr>
        <tr>
            <th>Song</th>
            <td>@Encoding.Default.GetString(Encoding.GetEncoding(1252).GetBytes(tagHandler.Song))</td>
        </tr>
        <tr>
            <th>Picture</th>
            <td>
                <img src="@imagePath" style="height: 100px; width: 100px;" />
            </td>
        </tr>
    </table>
                
            }
        }
    }
    else
    {
    <p>请求失败!</p>   
    }
}
catch (HttpException e)
{
    <p>@e</p>
}